.gz {
    text-align: -webkit-center;
}
.gz .navbar {
    background-color: var(--color-secondary-darker);
}

.gz .gambarAtas {
    text-align: center;
    padding-bottom: 30px;
    display: inline-table
}
/*
.gz .gambarAtas .Video {
    padding-top: 25px;
    padding-bottom: 40px;
}
*/
.gz .event {
    text-align: initial;
}
@media screen and ( min-width: 990px) {
    .gz .event .event-wrapper {
        flex-direction: row;
        height: 250px;
    }
}