.hs {
    text-align: -webkit-center;
}
.hs .navbar {
    background-color: var(--color-secondary-darker);
}

.hs .gambarAtas {
    text-align: center;
    padding-bottom: 30px;
    display: inline-table
}

/*
.hs .gambarAtas .Video {
    padding-top: 25px;
    padding-bottom: 40px;
}
*/

.hs .event {
    text-align: initial;
}
@media screen and ( min-width: 990px) {
    .hs .event .event-wrapper {
        flex-direction: row;
        height: 250px;
    }
}